:root {
  --primary: #181818;
  --neutral: rgb(255, 255, 255);
  --accent: rgb(218, 255, 52);
  --container-padding: 2rem 3rem;
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
}
html,body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  background: var(--primary);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: sans-serif;
  color: var(--neutral);
  letter-spacing: 1px;
  word-spacing: 2px;
}
/*Global*/
.container {
  padding: var(--container-padding);
}
section {
  margin: 7rem 0;
}
h2 {
  font-size: 2.3rem;
  margin: 4rem 0 2rem;
  text-align: center;
  font-weight: bold;
}
ul {
  margin: 2rem 0;
}
li {
  list-style-type: none;
  margin: 1.5rem 0;
}
p {
  margin: 1rem 0;
}
h3 {
  font-weight: bold;
  font-size: 2rem;
}
/* img {
  border: 1px solid white;
} */
.cta {
  background: var(--accent);
  color: var(--primary);
  padding: 1rem 2rem;
  border-radius: 3rem;
  font-weight: bold;
  font-size: inherit;
  display: inline-block;
  width: 100%;
  box-shadow: 1px 1px 0.5rem var(--accent);
  margin-top: 2rem;
}
.cta:hover {
  /* background-color: rgb(164, 255, 119); */
  transform: scale(1.025);
  transition: transform 700ms ease-in-out;
  box-shadow: 1px 1px 1rem var(--accent);
  transition: box-shadow 200ms ease-in;
}
.microcopy {
  font-size: 1.3rem;
}
.emphasize {
  color: var(--accent);
  font-weight: bolder;
}
.show-on-lg-screen {
  display: none;
}
.show-on-mobile {
  display: initial;
}
/*Header*/
header {
  background: linear-gradient(var(--primary), rgba(133, 255, 72, 0.126), var(--primary)); /*Change the colors if the :root is modified*/
  /* height: 100vh; */
  /* border: 1px solid white; */
}
.logo {
  /* border: 1px solid white; */
  color: var(--accent);
  font-size: 2rem;
}
.hero {
  display: grid;
  grid-template-columns: 1fr;
  /* border: 1px solid white; */
  margin-top: 2rem;
}
h1 {
  font-size: 3.2rem;
  margin: 0 0 1rem;
  line-height: 1.4;
}
.subheadline {
  margin: 0 0 1rem;
}
.hero-img {
  display: flex;
  justify-content: center;
}
header .cta {
  margin: 1.5rem 0;
}/*Main*/
.stat-block {
  width: 100%;
  background: #242323;
  border-radius: 1rem;
  text-align: center;
  padding: 2rem;
  margin-bottom: 2rem;
}
.stat-label {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.715);
  margin-bottom: 1rem;
}
.stat-number {
  font-size: 5rem !important;
  font-weight: bolder;  
}
#social-proof .testimonial {
  width: 100%;
  padding: 5rem 2rem;
  /* padding-bottom: ; */
  border-radius: 1rem;
  background: #242323;
  position: relative;
  margin-top: 6rem; /*[(width + margin) / 2] + extra 1.5rem*/
}
#social-proof .testifier-image {
  width: fit-content;
  position: absolute;
  background: var(--primary);
  /* border: 1px solid white; */
  border-radius: 50%;
  top: -5rem;
  right: 50%;
  transform: translateX(50%);
}
#social-proof .testifier-image img {
  width: 8rem;
  border-radius: 50%;
  display: block;
  margin: 8px;
}
#social-proof .testifier-name {
  /* font-size: 1.2rem; */
  /* font-weight: bold; */
  color: rgba(255, 255, 255, 0.83);
  margin-top: 1rem;
}
#social-proof .testimonial-label {
  position: absolute;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  background: #0b0b0b;
  left: 0;
  bottom: 0;
  /* height: 40px; */
  /* width: 250px; */
  padding: 0.5rem 2rem;
  text-align: center;
  font-weight: bold;
  color: var(--accent);
  border-top: 7px solid var(--primary);
  border-right: 7px solid var(--primary);
  /* border-bottom: 1px solid white; */
  /* border-left: 1px solid white; */
  border-radius: 1rem;
  /* clip-path: path('M 0,10  L 10,0 L 200,0 L 210,10 L 250,30 L 240,40 L 10,40 L 0,30 L 0,10 Z'); */
}
#social-proof .testimonial-label::after {
  position: absolute;
  width: 20px;
  height: 20px;
  content: '';
  background: #242323;
  border-bottom-left-radius: 50%;
  top: -27px; /*width(20px) + parent-border (7px)*/
  left: 0;
}
#social-proof .testimonial-label::before {
  position: absolute;
  width: 20px;
  height: 20px;
  content: '';
  background: var(--primary);
  border-bottom-left-radius: 50%;
  top: -20px;
  left: -10px;
}
#social-proof .testimonial-label span::after {
  position: absolute;
  width: 20px;
  height: 20px;
  content: '';
  background: #242323;
  border-bottom-left-radius: 50%;
  bottom: 0; 
  right: -27px;/*width(20px) + parent-border (7px)*/
}
#social-proof .testimonial-label span::before {
  position: absolute;
  width: 20px;
  height: 20px;
  content: '';
  background: var(--primary);
  border-bottom-left-radius: 50%;
  right: -20px;
  bottom: -10px;
}
/*Problems section*/
.problems-container {
  display: block;
}
.problems-container li .number {
  position: relative;
  display: inline-flex;
  background: var(--accent);
  color: var(--primary);
  width: 3rem;
  height: 3rem;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border-radius: 50%;
}
.problems-container .number::before {
  height: 100%;
  width: 1px;
  background: var(--accent);
  content: '';
  position: absolute;
  left: 1.5rem; /*Half of the number's width*/
  top: 75%;
  box-shadow: 0 0 5px var(--accent);
}
.problems-container .number:last-child::before { /*Edit*/
  display: none;
}
/*Solutions section*/
.solution-container {
  display: grid;
  grid-template-columns: 1fr;
}
.solution-card {
  background: var(--accent);
  color: var(--primary);
  padding: 2rem 1rem;
  border-radius: 1rem;
  text-align: center;
  /* font-weight: ; */
  margin: 1rem 0;
}
.solution-card img {
  height: 15rem;
  border-radius: 50%;
  display: block;
  margin: auto;
}
section#testimonial div.testimonials-container{
  display: grid;
  grid-template-columns: 1;
}
.testimonial-container {
  width: 100%;
}
section#testimonial .testifier-video img.video-testimony {/*Change to video later*/
  width: 100%;
  height: 40vh;
  border-image: ;
  border: 1px solid white;
  display: inline-block;
  border-radius: 1rem;
  position: relative;
}
.testifier-info-container {
  position: absolute;
  display: grid;
  width: 100%;
  grid-template-rows: 60% 40%;
  border: 1px solid white;
}
#testimonial .testifier-info .testifier-img {
  width: 5rem;
  display: inline-block;
  border-radius: 50%;
}
/*Media Queries*/
/*Tablet*/
@media (min-width: 640px) {
  :root {
    --container-padding: 4rem 5rem;
  }
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 3.7rem;
  }
}
/*Laptop & Desktop*/
@media (min-width: 1024px) {
  .show-on-lg-screen {
    display: initial;
  }
  .show-on-mobile {
    display: none;
  }
  :root {
    --container-padding: 7rem 8rem;
  }
  .hero {
    grid-template-columns: 60% 40%;
    /* border: 1px solid white; */
  }
  .hero-text {
    display: flex;
    align-items: center;    
  }
  .subheadline {
    width: 80%;
  }
  header .cta {
    width: initial;
  }
}